<h1>User#participation_notification</h1>

<p>
  <%= @user.username %>, find me in app/views/user_mailer/participation_notification.html.erb
  you have been invate to participate to the meeting: <%= @meeting.name %>
  start the <%= @meeting.start_time %>
  end the <%= @meeting.end_time %>
</p>
